:root {
    --mainBgColor: #0d6efd;
}

.stats-items-item-row {
    background-color: var(--mainBgColor);
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.stats-items-item-row .column {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-items-item-row .column .column-img {
    width: 100px;
}

.stats-items-item-row .column .column-img img {
    width: 100%;
    height: 100%;
}

.stats-items-item-row .column .column-numbers {
    font-size: 2rem;
}

.stats-items-item-row .column .column-label {
    width: 100%;
    font-size: 15px;
    text-align: center;
}

#map {
    height: 500px;
    margin-left: 20px;
}

footer {
    height: 50px;
    color: #fff;
    background-color: var(--mainBgColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copy {
    width: 30%;
    text-align: center;
}

footer .copy a {
    color: #fff;
}